body{
    margin: 0;
    padding: 0;
}
#app{
    width: 100%;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
}
::selection{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
input{
    border-radius: 5px;
}
label[for = "toggle-header"], label[for = "toggle-footer"]{
    width: 230px;
    position: absolute;
    top: 20px;
    left: 45%;
    letter-spacing: 10px;
    cursor: pointer;
}
#toggle-header, #toggle-footer{
    position: fixed;
    left: -100px;
}
/*--------------------------------------------------header---------------------------------------------------------*/
#header{
    width: 100%;
    height: 100px;
    background-color: #1F3D5C;
}
form > input, form > label, form > button{
    position: relative;
    top: -100px;
    left: 25%;
}
#toggle-header:checked ~ label, #toggle-header:checked ~ input, #toggle-header:checked ~ button{
    top: 10px;
}
#toggle-header:checked + label[for = "toggle-header"]{
    left: 5%;
    letter-spacing: 1px;
}


/*--------------------------------------------------main------------------------------------------------------------*/
#main{

}
#list{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
#list > li{
    min-width: 250px;
    margin: 5px;
    flex-grow: 1;
}
.content-top{
    background-color: #1F3D5C;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
}
.date, .title, .delete{
    display: inline-block;
    margin: auto;
    text-align: center;
}
.title{
    width: 70%;
}
.delete{
    width: 5%;
    cursor: pointer;
}
.date{
    width: 20%;
}
.content-bot{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #1F3D5C;
}
.description, .pic, .done-button{
    display: inline-block;
    margin: auto;
    text-align: center;
}
.description{
    width: 30%;
    color: #1F3D5C;
}
.pic{
    min-width: 30%;
    height: 140px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.done-button{
    width: 50px;
    height: 25px;
}
/*-----------------------------------------------------footer---------------------------------------------------------*/
#footer{
    width: 100%;
    height: 50px;
    background-color: #1F3D5C;
    position: fixed;
    top: 860px;
}
#done-list{
    width: 60%;
    height: 300px;
    position: absolute;
    left: 20%;
    top: 40px;
    z-index: -10;
    background-color: #2E5C8A;
}
#toggle-footer:checked ~ #done-list{
    top: -314px;
}
#toggle-footer:checked + label[for = "toggle-footer"]{
    left: 46%;
    letter-spacing: 1px;
}
.restore{
    cursor: pointer;
}
